[submodule "garage/domoticz"]
	path = garage/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "cabane/domoticz"]
	path = cabane/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "sample_node/domoticz"]
	path = sample_node/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "i_rouette_esp/domoticz"]
	path = i_rouette_esp/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "sample_node_avr/domoticz"]
	path = sample_node_avr/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "rf433_sensors/x10rf"]
	path = rf433_sensors/x10rf
	url = https://github.com/rletendu/x10rf
[submodule "rf433_sensors/oregon"]
	path = rf433_sensors/oregon
	url = https://github.com/rletendu/oregon
