[submodule "garage/domoticz"]
	path = garage/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "cabane/domoticz"]
	path = cabane/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "sample_node/domoticz"]
	path = sample_node/domoticz
	url = https://github.com/rletendu/domoticz
[submodule "i_rouette_esp/domoticz"]
	path = i_rouette_esp/domoticz
	url = https://github.com/rletendu/domoticz
